<%= simple_form_for @user do |entry| %>
<%= render 'shared/error_messages' %>
<div id="signup_subscription_list">
  <table>
    <%if $no_subscriptions %>
    <p style ="color:red;"> **You must subscribe to atleast one news channel** </p>
    <% end %>
    <head> SUBSCRIPTIONS: </head>
    <br><br>
      <% @subs1.each do |ssub| %>

        <% if @subscriptions.include?(ssub) %>
        <div id = "mySubscriptions">

          <%= check_box_tag("sources[]", ssub.name, :checked => true) %>
          <%= label_tag(ssub.name) %>

          <% thisSubscribe = Subscribe.find_by_subscription_id(ssub.subscription_id) %>
          <div class="favoritesCheckBox">
          <% if thisSubscribe.favourite == true %>

              <%= check_box_tag("favourites[]", thisSubscribe.subscription_id, :checked => true) %>
              <%= label_tag("Favourite") %>
          <% else %>
              <%= check_box_tag("favourites[]", thisSubscribe.subscription_id) %>
              <%= label_tag("Favourite") %>

          <% end %>
        </div>
        </div>



        <div>
        <% else %>
          <%= check_box_tag("sources[]", ssub.name ) %>
          <%= label_tag(ssub.name) %>
        </div>

        <% end %>

<<<<<<< HEAD

=======
>>>>>>> f1eb3df60433800e85feb6f0a3f1851cd8984b26
    <p>
      <% end  %>

  </table>

</div>
</p>
<p>
  <%= submit_tag "Update Subscriptions" %>
</p>

<% end %>
