<div id="newUsers">

  <h2 id="backButton"> <%= link_to 'Back', home_path %> </h2>


  <%= simple_form_for @user do |entry| %>

  <div id="usersSignupTable">

    <h3> Sign Up </h3>

    <p> All fields are required for signup. </p>
    <table>
      <tr>
        <td> <%= entry.label :first_name %> </td>
        <td> <%= entry.text_field :first_name %> </td>
      </tr>

      <tr>
        <td> <%= entry.label :last_name %> </td>
        <td> <%= entry.text_field :last_name %> </td>
      </tr>

      <tr>
        <td> <%= entry.label :user_name %> </td>
        <td> <%= entry.text_field :user_name %> </td>
      </tr>

      <tr>
        <td> <%= entry.label :email %> </td>
        <td> <%= entry.text_field :email %> </td>
      </tr>

      <tr>
        <td> <%= entry.label :password %> </td>
        <td> <%= entry.text_field :password %> </td>
      </tr>

      <tr>
        <td> <%= entry.label :birth_date %> </td>
        <td> <%= entry.text_field :birth_date %> </td>
      </tr>

    </table>

    <div id="signup_subscription_list">
      <table>
        <head> Subscriptions </head>

        <!-- <% @subs = ["abc-news-au", "al-jazeera-english", "ars-technica", "associated-press", "the-economist"] %>
 -->
          <% @subs1.each do |ssub| %>
          <%= check_box_tag("sources[]", ssub ) %>
          <%= label_tag(ssub) %>
          <p>
            <%end  %>

      </table>

    </div>

    </p>

    <p>
      <%= submit_tag("submit") %>
      <!--<%= entry.submit %>-->
    </p>
  <% end %>

</div>
