<h1> Sign Up </h1>

<%= form_for @user do |entry| %>
  <p>
    <%= entry.label :first_name %>
    <%= entry.text_field :first_name %>
  </p>

  <p>
    <%= entry.submit %>
  </p>
<% end %>

<h2> <%= link_to 'Back', home_path %> </h2>
