<head>
	<%= stylesheet_link_tag 'access' %>
</head>

<h1 id="login">Login</h1>
<div id="loginBox">
	<table>
		<%= form_tag(:action => 'attempt_login') do %>
			<% if !$found %>
			<ul>
				<p style="color:red;"> **Username and password combination do not match** </p>
			</ul>
			<% end %>

			<tr>
				<td> <%= label_tag(:user_name) %> </td>
				<td> <%= text_field_tag(:user_name) %> </td>
			</tr>
			<tr>
				<td> <%= label_tag(:password) %> </td>
				<td> <%= password_field_tag(:password) %> </td>
			</tr>
			<tr>
				<td> <%= submit_tag("Log in") %> </td>
			<tr>
		<% end %>
	</table>
	<p> New user?
	<%= link_to 'Sign up', signup_path %> </p>

</div>
