<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'user' %>
</head>
<body>
  THIS IS BODY
  <p>
  this is header, it must contain navigation bar with links to other parts of the webapp
  <div class="header">
    <div class="navigation_links">
      <div class="navigation_link"><a href="\access\logout">Logout</a></div>
      <div class="navigation_link"><a href="">Main Page</a></div>
      <div class="navigation_link"><a href="">Control Panel</a></div>
      <div class="navigation_link"><a href="">Some Other Stuff 1</a></div>
      <div class="navigation_link"><a href="">Some Other Stuff 2</a></div>
    </div>

  </div>

  <div class="search_bar">
    <%= form_tag("/user/ActionOne", :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
  <div class="content">


    <div class = "filter">
      This is filter
      <div class="category">
        categories are not fully working
        <%= form_tag("/user/ActionOne",id: "category_input", method: "get") do %>
          <% @categories.each do |category| %>
            <%= radio_button_tag(:category, category) %>
            <%= label_tag(:category, category) %>
            <p>
          <%end  %>
          <%= submit_tag("get") %>
        <% end %>
      </div>

      <div class="sources">
        <p> This is list of sources. They correspond to list of articles;
        <%= form_tag("/user/ActionOne",id: "articles_input", method: "get") do %>
          <% @sources.each do |source| %>

          <%= check_box_tag("sources[]", source ) %>
          <%= label_tag(source) %>
            <p>
          <%end  %>
          <%= submit_tag("get") %>
        <% end %>
      </div>
    </div>
    <div class="articles">
      <% @articles.each do |article| %>
      <%= raw article.outputHTML %>
      <%end%>
    </div>
  </div>

  <div class="footer">
    this is footer
  </div>
</body>

</html>
