<!DOCTYPE html>
<html>
  <head>
    <title>FeedMe | <%= @page_title || @user_name %></title>
    <%= stylesheet_link_tag 'user' %>
  </head>
  <body>
    <div id="header">
      <h1>FeedMe</h1>
      <div class="navigation_links">
        <div class="navigation_link"><a id="links", href="\access\logout">Logout</a></div>
        <div class="navigation_link"><a id="links", href="\user\display">Home</a></div>
        <div class="navigation_link"><a id="links", href="">Edit Account</a></div>
        <div class="navigation_link"><a id="links", href="">Add/Remove Subscriptions</a></div>
        <div class="navigation_link"><a id="links", href="">Favourites</a></div>
        <div class="search_bar">
          <%= form_tag('/user/display', :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "FeedMe" %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        </div>
      </div>
    </div>
    <div id="main">
      <div id="content">
        <!-- before yield -->
        <%= yield %>
        <!-- after yield -->
      </div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; FeedMe</p>
    </div>
  </body>
</html>
